---
layout: default
---

{% assign text = site.data.texts_app.projects %}
<main>
    <div class="projects">
        <div class="projects-container">
            <div class="flex-container">
                <h1 class="h1 projects__title">{{ text.title[site.lang] }}</h1>
                <p class="projects__descr">
                    {{ text.description[site.lang] }}
                </p>
            </div>
            {%- include projects/filters.html -%}
            <div class="projects-list">
                {% for project in site.posts %}
                    {% assign mod = forloop.index | modulo: 2 %}                   
                    {% if mod == 0 %}
                        {% assign itemClass = "projects__item" %}
                    {% else %}
                        {% assign itemClass = "projects__item projects__item--reverse" %}
                    {% endif %}
                        <div id="{{project.id}}" class="{{ itemClass }}">
                            <div class="projects__item-content ">
                                <h3 class="h3 projects__item-title"">{{ project.postTitle[site.lang] }}</h3>
                                <p class="projects__item-descr">{{ project.postDescription[site.lang] | markdownify | strip_html | truncate: 170 }}</p>
                                <a class="link projects__item-link" href="{{ project.url | relative_url }}">{{ text.linkText[site.lang] }}</a>
                            </div>
                            <div class="projects__item-img projects__item-img--{{ project.prevPosition}}">
                                <img src="{{site.baseurl}}{{project.prevImage }}" alt="">
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

