{% assign text2 = site.data.texts_app.projectFilters %}
<div class="projects-filters">
    <div class="projects-filters-components">
        <div class="dropdown dropdown-spheres" data-path="spheres">
            <div id="spheres-input" class="dropdown__input">{{ text2.dropdownSpheres[site.lang] }}</div>
            <div class="dropdown__options dropdown__options-spheres" data-target="spheres">
                <div class="dropdown__options-container">
                    {% for sphere in site.data.spheres %}
                    <div class="dropdown__options-item" data-option="spheres" data-target="{{sphere.value}}">
                        {{sphere.label[site.lang]}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="dropdown dropdown-technologies" data-path="technologies">
            <div id="technologies-input" class="dropdown__input">{{ text2.dropdownTechnologies[site.lang] }}</div>
            <div class="dropdown__options dropdown__options-technologies">
                {% for technologie in site.data.technologies %}
                <div class="dropdown__options-item" data-option="technologies" data-target="{{technologie.value}}">
                    {{technologie.label[site.lang]}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var spheres = [];
    var technologies = [];

    const allDropDowns = document.querySelectorAll('.dropdown');
    const spheresInput = document.getElementById("spheres-input")
    const technologiesInput = document.getElementById("technologies-input")

    allDropDowns.forEach(e => {
        e.addEventListener('click', e => {
            const targetDropDown = e.currentTarget.dataset.path;
            const optionsItem = e.target.getAttribute("data-target");

            if (optionsItem) {
                if (targetDropDown === "spheres") {
                    updateSpheres(optionsItem)
                    updateSphereOptions()
                }

                if (targetDropDown === "technologies") {
                    updateTechnologies(optionsItem)
                    updateTechnologieOptions()
                }

                filterProjects(spheres, technologies)
                return
            }

            allDropDowns.forEach(element => {
                if (element.dataset.path !== e.currentTarget.dataset.path) {
                    element.classList.remove("active");
                } else {
                    element.classList.toggle("active");
                }
            })

            window.onclick = e => {
                if (e.target.classList.value.includes("dropdown") === false) {
                    allDropDowns.forEach(element => {
                        element.classList.remove("active");
                        document.body.style.overflow = "auto";
                    })
                }
            }

            window.ontouchstart = e => {
                if (e.target.classList.value.includes("dropdown") === false) {
                    allDropDowns.forEach(element => {
                        element.classList.remove("active");
                        document.body.style.overflow = "auto";
                    })
                }
            }
        });
    });

    document.addEventListener("DOMContentLoaded", showProjectsBySphere);

    function showProjectsBySphere() {
        var myParam = location.search.split('sphere=')[1]
        if (myParam) {
            updateSpheres(myParam)
            updateSphereOptions()
            filterProjects(spheres, technologies)
        }
    }

    function updateSpheres(optionsItem) {
        if (optionsItem === "all") {
            spheres = []
        } else {
            const indexFilter = spheres.findIndex(item => item === optionsItem);
            if (indexFilter === -1) {
                spheres.push(optionsItem);
            } else {
                spheres = spheres.filter(item => item !== optionsItem);
            }
        }
    }

    function updateSphereOptions() {
        const optionItems = document.querySelectorAll("[data-option='spheres']")
        optionItems.forEach(element => {
            const elementDataTarget = element.getAttribute("data-target")
            const indexFilter = spheres.findIndex(item => item === elementDataTarget);
            if (indexFilter === -1) {
                element.classList.remove("active");
            } else {
                element.classList.add("active");
            }
        })

        const text = declOfNum(spheres.length, ['сфера', 'сферы', 'сфер'])
        spheresInput.innerHTML = text
    }

    function updateTechnologies(optionsItem) {
        if (optionsItem === "all") {
            technologies = []
        } else {
            const indexFilter = technologies.findIndex(item => item === optionsItem);
            if (indexFilter === -1) {
                technologies.push(optionsItem);
            } else {
                technologies = technologies.filter(item => item !== optionsItem);
            }
        }
    }

    function updateTechnologieOptions() {
        const optionItems = document.querySelectorAll("[data-option='technologies']")
        optionItems.forEach(element => {
            const elementDataTarget = element.getAttribute("data-target")
            const indexFilter = technologies.findIndex(item => item === elementDataTarget);
            if (indexFilter === -1) {
                element.classList.remove("active");
            } else {
                element.classList.add("active");
            }
        })

        const text = declOfNum(technologies.length, ['технология', 'технологии', 'технологий'])
        technologiesInput.innerHTML = text
    }

    function filterProjects(spheresArray, technologiesArray) {
        var matches = 0

        {% for project in site.posts %}
            var isShowSpheres = false;
            var isShowTechnologies = false;

            var projectSpheres = {{ project.spheres | jsonify }};
            var projectTechnologies = {{ project.technologies | jsonify }};
            var id = {{ project.id | jsonify }};
            var projectDiv = document.getElementById(id);

            if (spheresArray.length === 0) {
                isShowSpheres = true
            }

            if (technologiesArray.length === 0) {
                isShowTechnologies = true
            }

            var isFoundSphere = projectSpheres.some(r => spheresArray.includes(r))
            if (spheresArray.length > 0 && isFoundSphere) {
                isShowSpheres = true
            }

            var isFoundTechnologies = projectTechnologies.some(r => technologiesArray.includes(r))
            if (technologiesArray.length > 0 && isFoundTechnologies) {
                isShowTechnologies = true
            }

            var isShow = isShowSpheres && isShowTechnologies

            if (isShow) {
                matches = matches + 1
            }

            if (matches % 2) {
                projectDiv.classList.add('projects__item--reverse')
            } else {
                projectDiv.classList.remove('projects__item--reverse')
            }

            projectDiv.style.display =  isShow ? 'flex' : 'none';
        {% endfor %}
    }

    function declOfNum(num, texts) {
        num = Math.abs(num) % 100;
        var num1 = num % 10;

        if (num === 0) {
            return "Все " + texts[1];
        }

        if (num > 10 && num < 20) {
            return num + " " + texts[2];
        }
        if (num1 > 1 && num1 < 5) {
            return num + " " + texts[1];
        }
        if (num1 === 1) {
            return num + " " + texts[0];
        }
        return num + " " + texts[2];
    };
</script>
