<div class="projects-filters">
    <h4 class="h4 projects-filters-title">Фильтры</h4>
    <div class="projects-filters-components">
        <div class="dropdown" data-path="spheres">
            <input type="text" class="dropdown__input" placeholder="Все сферы" readonly> 
            <div class="dropdown__options" data-target="spheres">
                {% for category in site.data.categories %}
                    <a class="dropdown__options-item" href="{{site.baseuri}}/projects/{{category.en}}">{{category.ru}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown" data-path="technologies">
            <input type="text" class="dropdown__input" placeholder="Все технологии" readonly> 
            <div class="dropdown__options" data-target="technologies">
                <div class="dropdown__options-item">Android</div>
                <div class="dropdown__options-item">Hybrid</div>
                <div class="dropdown__options-item">iOS</div>
                <div class="dropdown__options-item">Native</div>
                <div class="dropdown__options-item">Web</div>
            </div>
        </div>
    </div>
    
</div>

