<div class="projects-filters">
    <h4 class="h4 projects-filters-title">Фильтры</h4>
    <div class="projects-filters-components">
        <div class="dropdown" data-path="spheres">
            <input type="text" class="dropdown__input" placeholder="Все сферы" readonly> 
            <div class="dropdown__options" data-target="spheres">
                <div class="dropdown__options-item">Цифровизация бизнес-процессов</div>
                <div class="dropdown__options-item">Системы управления проектами</div>
                <div class="dropdown__options-item">Электронный документооборот</div>
                <div class="dropdown__options-item">Медицина</div>
                <div class="dropdown__options-item">Менеджмент</div>
            </div>
        </div>
        <div class="dropdown" data-path="technologies">
            <input type="text" class="dropdown__input" placeholder="Все технологии" readonly> 
            <div class="dropdown__options" data-target="technologies">
                <div class="dropdown__options-item">Android</div>
                <div class="dropdown__options-item">Hybrid</div>
                <div class="dropdown__options-item">iOS</div>
                <div class="dropdown__options-item">Native</div>
                <div class="dropdown__options-item">Web</div>
            </div>
        </div>
    </div>
    
</div>

