<div id="feedback-form" class="feedback-form">
    <div class="feedback-form__container">
        <div class="feedback-form__body">
            <div class="feedback-form__body-top">
                <p class="feedback-form__body-title">Запись на консультацию</p>
                <div id="feedback-close" class="feedback-form__body-close">&#10006</div>
            </div>
            

            <form action="">
                <input class="feedback-form__body-name" type="text" placeholder="Введите имя">
                <input class="feedback-form__body-phone type="text" placeholder="+7">
                <button class="btn btn--dark feedback-form__body-btn">Оставить заявку</button>
            </form>
            
        </div>
    </div>
</div>