<div class="feedback-form-container">
    <h3 class="feedback-form__title h3">Запись на консультацию</h3>
    <form id="feedback-form" class="feedback-form" action="">
        <div class="feedback-form__item">
            <label class="feedback-form__label label">Имя*</label>
            <input
                id="feedback-form-name"
                name="name"
                class="feedback-form__input input"
                type="text"
                placeholder="Введите имя"
                autocomplete="off"
            />
            <label id="feedback-form-name-error" class="feedback-form__error label"></label>
        </div>
        <div class="feedback-form__item">
            <label class="feedback-form__label label">Телефон*</label>
            <input
                id="feedback-form-phone"
                name="phone"
                class="feedback-form__input input"
                type="tel"
                placeholder="+7 (XXX) XXX-XX-XX"
                autocomplete="off"
            />
            <label id="feedback-form-phone-error" class="feedback-form__error label"></label>
        </div>
        <button type="submit" class="feedback-form__btn btn btn--dark" disabled>
            <div class="feedback-form__btn-spinner"></div>
            <span class="feedback-form__btn-text">Начать проект</span> 
        </button>
        <a href="/policy-personal-data" class="feedback-form__personal">
            Нажимая на кнопку вы даёте согласие <u>на обработку персональных данных</u>
        </a>
    </form>
</div>

<div class="feedback-form-message">
    <h3 class="feedback-form-message__text h3"></h3>
</div>
