<footer class="footer-small">
    <div class="footer-small__container">
        <div class="footer-small__bottom">
            <p class="footer-small__text footer-small__company">© 2022 ООО «Цитрониум»</p>
            <div class="footer-small__bottom-right">
                <a href="/policy-personal-data" class="footer-small__text footer-small__personal">Политика обработки персональных данных</p>
                <a href="/privacy-policy" class="footer-small__text footer-small__privacy">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>
