{% assign text = site.data.texts_app.mobileMenu %}
<div id="mobile-menu"" class="mobile-menu">
    <div class="mobile-menu__header">
        <a href="{{site.baseurl}}/">
            {%- include logo-white.html -%}
        </a>
        <span id="mobile-menu__close" class="mobile-menu__close">&#10005</span>
    </div>
    
    <div class="mobile-menu__items">
        <nav class="mobile-menu__item">
            <a class="mobile-menu__item-link" href="{{site.baseurl}}/projects">{{ text.projects[site.lang] }}</a>
        </nav>
        <nav class="mobile-menu__item">
            <a class="mobile-menu__item-link" href="{{site.baseurl}}/contacts">{{ text.contacts[site.lang] }}</a>
        </nav>
    </div>
</div>