.h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.5px;

    @media (max-width: 960px) {
        font-size: 56px;
        line-height: 56px;
    }
    @media (max-width: 640px) {
        font-size: 40px;
        line-height: 40px;
    }
    @media (max-width: 390px) {
        font-size: 24px;
        line-height: 28px;
    }
}

.h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: var(--color-dark);

    @media (max-width: 640px) {
        font-size: 32px;
        line-height: 40px;
    }

    @media (max-width: 390px) {
        font-size: 24px;
        line-height: 28px;
    }
}

.h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;

    @media (max-width: 640px) {
        font-size: 24px;
        line-height: 32px;
    }

    @media (max-width: 390px) {
        font-size: 18px;
        line-height: 24px;
    }
}

.h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: var(--color-dark);
    opacity: 0.56;

    @media (max-width: 390px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 72px 40px 100px 40px;

    @media (max-width: 640px) {
        padding: 100px 20px;
    }

    @media (max-width: 390px) {
        padding: 80px 16px;
    }

    @media (max-width: 320px) {
        padding: 80px 10px;
    }
}

.btn {
    border-radius: 10px;
    height: 60px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    @media (max-width: 640px) {
        font-size: 16px;
    }

    &:disabled {
        opacity: 0.3;
    }

    &--dark {
        color: var(--color-white);
        background-color: var(--color-dark);

        &:hover {
            &:not([disabled]) {
                background-color: var(--color-dark-hover);
            }
        }
    }

    &--white {
        color: var(--color-dark);
        background-color: var(--color-white);

        &:hover {
            &:not([disabled]) {
                background-color: var(--color-white-hover);
            }
        }
    }
}

.link {
    font-weight: 500;
    font-size: 24px;
    color: var(--color-dark);

    @media (max-width: 640px) {
        font-size: 18px;
    }

    @media (max-width: 390px) {
        font-size: 16px;
    }

    &:after {
        display: inline-block;
        content: "";
        background-image: url("img/rarrow.svg");
        background-size: 18px 14px;
        background-repeat: no-repeat, repeat;
        height: 14px;
        width: 18px;
        margin-left: 9px;

        @media (max-width: 640px) {
            background-size: 18px 10px;
            height: 10px;
            width: 18px;
        }
    }
}

.input {
    height: 64px;
    width: 100%;
    padding: 20px;
    border: 2px solid rgba(51, 51, 51, 0.2);
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    &:focus {
        outline: none;
    }

    @media (max-width: 390px) {
        font-size: 16px;
        line-height: 20px;
    }
}

.label {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    @media (max-width: 390px) {
        font-size: 14px;
        line-height: 20px;
    }
}
