.contacts {
    width: 100%;
    
    &-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1280px;
        margin: 0 auto;
        padding: 72px 40px 24px 40px;
       
        @media (max-width: 640px) {
            padding: 72px 20px 24px 20px;
        }

        @media (max-width: 390px) {
            padding: 72px 16px 24px 16px;
        }

        @media (max-width: 320px) {
            padding: 72px 10px 24px 10px;
        }
    }

    &__title {
        color: var(--color-dark);
        margin-top: 80px;

        @media (max-width: 390px) {
            margin-top: 40px;
        }
    }
    &-content {
        display: flex;
        flex-direction: row;
        margin-top: 40px;

        @media (max-width: 960px) {
            flex-direction: column-reverse;
        }

        @media (max-width: 390px) {
            margin-top: 24px;
        }
    }

    &__left {
        background-color: #367cf4;
        border-radius: 20px;
        padding: 56px;
        width: calc(50% - 12px);
        margin-right: 12px;

        @media (max-width: 960px) {
            width: 100%;
            margin-right: 0;
            margin-top: 24px;
            padding: 40px;
        }

        @media (max-width: 640px) {
            padding: 32px;
        }

        @media (max-width: 390px) {
            padding: 24px;
        }
    }

    &__right {
        background: #ffffff;
        border-radius: 20px;
        padding: 56px;
        width: calc(50% - 12px);
        margin-left: 12px;

        @media (max-width: 960px) {
            width: 100%;
            margin-left: 0;
            padding: 40px;
        }

        @media (max-width: 640px) {
            padding: 32px;
        }

        @media (max-width: 390px) {
            padding: 24px;
        }

        &-title {
            color: #333333;
        }
    }

    &__adress {
        color: #ffffff;
    }

    &__phone {
        color: #ffffff;
        margin-top: 24px;
    }

    &-form {
        &__item {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            @media (max-width: 640px) {
                margin-top: 24px;
            }
        }

        &__label {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #333333;

            @media (max-width: 390px) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &__input {
            display: block;
            height: 64px;
            width: 100%;
            margin-top: 8px;
            padding: 20px;
            border: 2px solid rgba(51, 51, 51, 0.2);
            border-radius: 10px;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: black;

            @media (max-width: 390px) {
                font-size: 16px;
                line-height: 20px;
            }

            &:focus {
                outline: none;
            }

            &::placeholder {
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: rgba(51, 51, 51, 0.56);

                @media (max-width: 390px) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }

        &__btn {
            padding: 10px 50px;
            margin-top: 40px;
            width: 100%;

            @media (max-width: 640px) {
                margin-top: 24px;
            }
        }

        &__personal {
            margin-top: 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.5);

            @media (max-width: 320px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 80px;

        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: 390px) {
            margin-top: 40px;
        }

        &-text {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: rgba(51, 51, 51, 0.56);

            @media (max-width: 640px) {
                font-size: 14px;
            }

            @media (max-width: 390px) {
                text-align: center;
            }
        }

        &-right {
            display: flex;
            flex-direction: row;

            @media (max-width: 800px) {
                flex-direction: column;
                align-items: center;
            }
        }

        &-personal {
            margin-right: 40px;

            @media (max-width: 800px) {
                margin-right: 0;
            }
        }
    }
}
