.feedback-form {
    &-container {
        height: 100%;
    }

    &__title {
        color: #333333;
    }

    &__item {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;

        @media (max-width: 390px) {
            margin-top: 32px;
        }
    }

    &__label {
        color: #000000;
    }

    &__input {
        margin-top: 8px;
        color: black;

        &.error {
            border-color: red;
        }
    }

    &__error {
        position: absolute;
        bottom: -28px;
        color: red;
    }

    &__btn {
        padding: 10px 50px;
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &-spinner {
            display: none;
            height: 30px;
            width: 30px;
            border-left: 3px solid;
            border-bottom: 3px solid #ffffff;
            border-right: 3px solid #ffffff;
            border-top: 3px solid transparent;
            border-radius: 50%;
            animation: spinner 1s linear infinite;

            &.show {
                display: block;
            }
        }

        &-text {
            display: block;

            &.hide {
                display: none;
            }
        }
    }

    &__personal {
        display: block;
        margin-top: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.5);

        @media (max-width: 390px) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &-message {
        display: none;
        position: relative;
        height: 100%;
        width: 100%;

        align-items: center;
        justify-content: center;

        &__text {
            text-align: center;
        }
    }
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
