.feedback {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1005;
    transform: scale(0);
    transition: 0.4s ease;

    &.active {
        transform: scale(1);
    }

    &__container {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__body {
        margin: auto;
        max-width: 700px;
        background-color: #fff;
        border-radius: 10px;
        padding: 56px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 622px;
        height: 564px;
        box-shadow: -5px -5px 15px rgba(27, 27, 27, 0.08), 5px 5px 15px rgba(27, 27, 27, 0.08);

        @media (max-width: 640px) {
            height: 100vh;
            border-radius: 0;
            width: 100%;
            padding: 56px 30px 30px 30px;
        }

        @media (max-width: 390px) {
            padding: 48px 20px 20px 20px;
        }

        @media (max-width: 320px) {
            padding: 48px 10px 10px 10px;
        }
    }

    &__close {
        z-index: 2;
        position: absolute;
        top: 60px;
        right: 58px;
        font-size: 30px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.56);

        @media (max-width: 640px) {
            top: 55px;
            right: 30px;
        }

        @media (max-width: 390px) {
            top: 42px;
            right: 20px;
        }

        @media (max-width: 320px) {
            top: 42px;
            right: 10px;
        }
    }
}

.feedback-loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    -webkit-animation: round1-rotate 2s infinite linear;
    animation: round1-rotate 2s infinite linear;

    @media (max-width: 640px) {
        top: 320px;
    }

    &.active {
        display: block;
    }

    & span {
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        background-color: black;
        border-radius: 50%;
        -webkit-animation: round1-bounce 2s infinite ease-in-out;
        animation: round1-bounce 2s infinite ease-in-out;
    }

    & span:nth-child(2) {
        top: auto;
        bottom: 0;
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
    }
}

@-webkit-keyframes round1-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round1-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes round1-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes round1-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
