.footer-small {
    width: 100%;
    background-color: var(--color-bacground);

    &__container {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 100px 40px 40px 40px;

        @media (max-width: 640px) {
            flex-direction: column;
            align-items: center;
            margin: 100px 20px 40px 20px;
        }

        @media (max-width: 390px) {
            margin: 100px 16px 40px 16px;
        }

        &-right {
            display: flex;
            flex-direction: row;

            @media (max-width: 640px) {
                flex-direction: column;
                align-items: center;
            }
        }
    }
    &__personal {
        margin-right: 40px;

        @media (max-width: 640px) {
            margin-top: 8px;
            margin-right: 0;
        }
    }

    &__privacy {
        @media (max-width: 640px) {
            margin-top: 8px;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: rgba(51, 51, 51, 0.56);

        @media (max-width: 640px) {
            font-size: 14px;
            line-height: 20px;
        }
    }
}