.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    //width: 100%;
    text-align: center;
    color: var(--color-dark);
    opacity: 0.56;
}

.h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.5px;
    color: var(--color-dark);
}

.h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

.section-title {
    margin-top: 40px;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    height: 100vh;
    min-height: 832px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-yellow);
    &__title {
        font-size: 72px;
        font-weight: 700;
        text-align: center;
        color: var(--color-dark);
        line-height: 64px;
        letter-spacing: -0.5px;
        max-width: 900px;
        margin: 0;
    }
    &__descr {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: var(--color-dark);
        opacity: 0.56;
        max-width: 800px;
        height: 64px;
        margin-top: 40px;
    }
    &__img {
        //height: 264px;
        //max-width: 354px;
        height: 254px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            //display: block;
            //width: 100%;
            height: 120%;
        }
    }
    &__btn {
        margin-top: 80px;
        padding: 18px 56px;
    }
}

.what-we-do {
    &__items {
        margin-top: 80px;
        width: 100%;
        display: grid;
        grid-template-areas:
            "item1 item1"
            "item2 item3";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px 600px;
        grid-gap: 24px;
    }
    &__item {
        width: 100%;
        border-radius: 20px;
        background-repeat: no-repeat, repeat;
        
    }
    &__item1 {
        grid-area: item1;
        background-color: var(--color-purple);
        background-image: url(img/calc.png);
        background-position: right bottom;
        background-size: 494px;
        &-title {
            color: var(--color-white);
            max-width: 40%;
            margin-left: 56px;
            margin-top: 88px;
            background-size: 400px;
        }
    }
    &__item2 {
        grid-area: item2;
        background-color: var(--color-primary);
        background-image: url(img/notebook.png);
        background-position: center bottom;
        background-size: 420px;
        &-title {
            color: var(--color-white);
            max-width: 404px;
            margin-left: 56px;
            margin-top: 88px;
        }
    }
    &__item3 {
        grid-area: item3;
        background-color: var(--color-white);
        background-image: url(img/doc.png);
        background-position: center bottom;
        background-size: 400px;
        &-title {
            color: var(--color-dark);
            max-width: 404px;
            margin-left: 56px;
            margin-top: 88px;
        }
    }
}

.why-we {
    &__items {
        margin-top: 80px;
        width: 100%;
        display: grid;
        grid-template-areas:
            "item1 item2"
            "item3 item3";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 24px;
    }
    &__item {
        width: 100%;
        height: 600px;
        border-radius: 20px;
        background-repeat: no-repeat, repeat;
        background-size: auto;
    }
    &__item1 {
        grid-area: item1;
        background-color: var(--color-white);
        background-image: url(img/search.png);
        background-position: center bottom;
        &-title {
            color: var(--color-dark);
            max-width: 100%;
            margin-left: 56px;
            margin-top: 56px;
        }
    }
    &__item2 {
        grid-area: item2;
        background-color: var(--color-blush);
        background-image: url(img/rocket.png);
        background-position: center bottom;
        &-title {
            color: var(--color-white);
            max-width: 404px;
            margin-left: 56px;
            margin-top: 56px;
        }
    }
    &__item3 {
        grid-area: item3;
        background-color: var(--color-purple);
        background-image: url(img/calc.png);
        background-position: right bottom;
        &-title {
            color: var(--color-white);
            max-width: 42%;
            margin-left: 56px;
            margin-top: 88px;
        }
    }
}

.how-we-work {
    &__items {
        margin-top: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__item {
        background-color: var(--color-white);
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        // padding: 88px 56px;
        &--reverse {
            flex-direction: row-reverse;
        }
        &-col {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 88px 56px;
        }
        &-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
        }
        &-title {
            font-weight: 600;
            font-size: 40px;
            line-height: 48px;
            color: var(--color-dark);
        }
        &-desc {
            font-size: 24px;
            line-height: 32px;
            color: var(--color-dark);
            opacity: 0.56;
            margin-top: 24px;
        }
        &-link {
            display: inline-block;
            margin-top: 56px;
        }
        &-img {
            margin-top: 15px;
            width: 100%;
            max-width: 360px;
        }
    }
}

.our-approach {
    &__diagram {
        margin-top: 80px;
        width: 100%;
    }
}

.about-team {
    &__items {
        margin-top: 80px;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    &__item1 {
        width: 60%;
        background-color: var(--color-yellow);
        border-radius: 20px;
        &-title {
            padding-top: 56px;
            padding-left: 56px;
            padding-right: 56px;
            // font-weight: 600;
            // font-size: 40px;
            // line-height: 48px;
            color: var(--color-white);
        }
    }
    &__item2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        background-color: var(--color-white);
        border-radius: 20px;
        &-title {
            padding-top: 56px;
            padding-left: 56px;
            padding-right: 56px;
            // font-weight: 600;
            // font-size: 40px;
            // line-height: 48px;
            color: var(--color-dark);
        }
        &-img {
            display: block;
            margin-top: 28px;
            max-width: 300px;
        }
    }
}

.trust-us {
    &__items {
        margin-top: 80px;
        padding: 56px;

        width: 100%;
        display: grid;
        grid-template-areas:
            "item1 item2 item3"
            "item4 item5 item6";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 20px;
        background-color: var(--color-white);
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        background-repeat: no-repeat, repeat;
        background-position: center;
        &-1 {
            grid-area: item1;
            background-image: url(img/capital-group.png);
            background-size: 80%;
        }
        &-2 {
            grid-area: item2;
            background-image: url(img/lukoil.png);
            background-size: 50%;
        }
        &-3 {
            grid-area: item3;
            background-image: url(img/sber.png);
            background-size: 40%;
        }
        &-4 {
            grid-area: item4;
            background-image: url(img/mrs.png);
            background-size: 80%;
        }
        &-5 {
            grid-area: item5;
            background-image: url(img/supermarket.png);
            background-size: 70%;
        }
        &-6 {
            grid-area: item6;
            background-image: url(img/cds.png);
            background-size: 40%;
        }
    }
}

.our-awards {
    &__items {
        margin-top: 80px;
        width: 100%;
        display: grid;
        grid-template-areas:
            "item1 item2"
            "item3 item4";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-white);
        border-radius: 20px;
        padding: 56px;
        & img {
            max-width: 250px;
            width: 100%;
        }
        &-title {
            font-weight: 600;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            color: var(--color-dark);
            margin-top: 56px;
            width: 100%;
        }
        &-desc {
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: var(--color-dark);
            opacity: 0.56;
            margin-top: 24px;
        }
        &-1 {
            grid-area: item1;
        }
        &-2 {
            grid-area: item2;
        }
        &-3 {
            grid-area: item3;
        }
        &-4 {
            grid-area: item4;
        }
    }
}
.footer {
    width: 100%;
    background-color: var(--color-granite);
    &__container {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    &__title {
        font-size: 72px;
        font-weight: 700;
        text-align: center;
        color: var(--color-white);
        line-height: 64px;
        letter-spacing: -0.5px;
        margin: 196px 177.5px 0 177.5px;
    }
    &__descr {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: var(--color-white);
        opacity: 0.56;
        margin: 40px 216px 0px 216px;
    }

    &__btn {
        margin-top: 80px;
        padding: 20px 35px;
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 164px 40px 40px 40px;
        &-right {
            display: flex;
            flex-direction: row;
        }
    }
    &__personal {
        margin-right: 40px;
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: var(--color-white);
        opacity: 0.56;
    }
}