@media (max-width: 960px) {
    .projects {
        &__item {
            flex-direction: column;
            flex-direction: column-reverse;
            & > * {
                margin: 40px;
            }
            &-content {
                width: calc(100% - 2 * 40px);
            }
            &-title {
                margin-top: 0;
            }
            &-descr {
                margin-top: 16px;
            }
            &-img {
                height: 560px;
                width: calc(100% - 2 * 40px);
                &--center {
                    & img {
                        max-width: 414px;
                    }
                }
                &--left {
                    & img {
                        right: 260px;
                    }
                }
                &--right {
                    & img {
                        left: 260px;
                    }
                }
            }
        }
    }
    .project {
        &-content {
            & > h1 {
                font-size: 56px;
                line-height: 56px;
            }
            &-video {
                flex-direction: column;
                &__left {
                    width: calc(100% - 2 * 40px);
                    margin: 40px;
                }
                &__right {
                    width: calc(100% - 2 * 40px);
                    margin: 40px;
                }
            }
        }
    }
    .footer {
        &__title {
            font-size: 56px;
            line-height: 56px;
            margin: 150px 40px 0 40px;
        }
        &__descr {
            margin-left: 160.5px;
            margin-right: 160.5px;
        }
    }
}

@media (max-width: 800px) {
    .dropdown {
        position: relative;
        height: 64px;
        &__input {
            font-size: 16px;
            line-height: 24px;
        }
        &__options {
            position: fixed;
            bottom: 0;
            top: unset;
            left: 0;
            right: 0;
            border-radius: 10px 10px 0 0; 
            &-spheres {
                width: 100%;
                height: 80%;
            }
            &-technologies {
                width: 100%;
            }
            &-line {
                display: block;
            }
            &-item {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

@media (max-width: 640px) {
    .link {
        font-size: 18px;
    }
    .link:after {
        background-size: 18px 10px;
        height: 10px;
        width: 18px;
    }
    .header {
        width: calc(100% - 2 * 20px);
        margin-left: 20px;
        margin-right: 20px;
        &-right {
            display: none;
        }
    }
    .burger {
        display: block;
    }
    .mobile-menu {
        display: block;
    }

    .projects {
        &__descr {
            font-size: 16px;
            line-height: 24px;
            max-width: 445px;
        }
        &__item {
            margin-top: 16px;
            &-descr {
                margin-top: 4px;
                font-size: 16px;
                line-height: 24px;
            }
            &-link {
                margin-top: 42px;
            }
            &-img {
                &--center {
                    height: 320px;
                    & img {
                        top: 40px;
                        max-width: 262px;
                    }
                }
                &--left {
                    height: 320px;
                    & img {
                        top: 40px;
                        right: 151px;
                    }
                }
                &--right {
                    height: 320px;
                    & img {
                        top: 40px;
                        left: 151px;
                    }
                }
            }
        }
    }
    .project {
        &-content {
            & > h1 {
                font-size: 40px;
                line-height: 40px;
            }
            & > h2 {
                font-size: 32px;
                line-height: 40px;
                margin-top: 30px;
            }
            & > ol {
                margin-top: 30px;
                & li {
                    padding-top: 30px;
                }
            }
            & > h3 {
                margin-top: 60px;
                font-size: 24px;
                line-height: 32px;
            }
            & > h4 {
                margin-top: 180px;
            }
            & > p {
                font-size: 16px;
                line-height: 24px;
            }
            &-time {
                margin-top: 60px;
                &__left {
                    margin-right: 8px;
                    &-title {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    &-month {
                        font-size: 24px;
                        line-height: 32px;
                    }
                }
                &__right {
                    margin-left: 8px;
                    &-title {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    &-month {
                        font-size: 24px;
                        line-height: 32px;
                    }
                }
            }
            &-video {
                margin-top: 60px;
                &__right {
                    &-title {
                        font-size: 24px;
                        line-height: 32px;
                    }
                    &-descr {
                        font-size: 16px;
                        line-height: 24px;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
    .footer {
        &__title {
            font-size: 40px;
            line-height: 40px;
            margin-left: 20px;
            margin-right: 20px;
        }
        &__descr {
            font-size: 16px;
            line-height: 24px;
            margin-top: 32px;
            margin-left: 75px;
            margin-right: 75px;
        }
        &__btn {
            font-size: 16px;
            margin-top: 60px;
            padding: 18px 24px;
        }
        &__bottom {
            flex-direction: column;
            align-items: center;
            margin: 100px 20px 40px 20px;
            &-right {
                flex-direction: column;
                align-items: center;
            }
        }
        &__personal {
            margin-top: 8px;
            margin-right: 0;
        }
        &__privacy {
            margin-top: 8px;
        }
    }
}

@media (max-width: 520px) {
    .project {
        &-content {
            &-time {
                flex-direction: column;
                margin-top: 40px;
                &__left {
                    width: 100%;
                    padding: 16px;
                    margin: 0;
                    border-radius: 10px;
                }
                &__right {
                    width: 100%;
                    padding: 16px;
                    margin: 16px 0 0 0;
                    border-radius: 10px;
                }
            }
        }
    }
}

@media (max-width: 390px) {
    .header {
        width: calc(100% - 2 * 16px);
        margin-left: 16px;
        margin-right: 16px;
    }
    .link {
        font-size: 16px;
    }
    
    .projects {
        &__descr {
            font-size: 14px;
            line-height: 20px;
            max-width: 285px;
        }

        &-filters {
            &-components {
                & > :first-child {
                    margin-right: 8px;
                }
            }
        }

        &__item {
            & > * {
                margin: 24px;
            }
            &-content {
                width: calc(100% - 2 * 24px);
            }
            &-descr {
                margin-top: 4px;
                font-size: 14px;
                line-height: 20px;
            }
            &-link {
                margin-top: 42px;
            }
            &-img {
                height: 276px;
                width: calc(100% - 2 * 24px);
                &--center {
                    & img {
                        top: 24px;
                        max-width: 206px;
                    }
                }
                &--left {
                    & img {
                        top: 24px;
                        right: 24px;
                    }
                }
                &--right {
                    & img {
                        top: 24px;
                        left: 24px;
                    }
                }
            }
        }
    }
    .footer {
        &__title {
            font-size: 24px;
            line-height: 28px;
            margin-left: 16px;
            margin-right: 16px;
        }
        &__descr {
            font-size: 14px;
            line-height: 20px;
            margin-left: 62px;
            margin-right: 62px;
        }
        &__bottom {
            margin: 100px 16px 40px 16px;
        }
    }
    .dropdown {
        height: 56px;
        &__options {
            &-item {
                font-size: 14px;
                line-height: 20px;
            }
        }
        &-spheres {
            width: 45%;
        }

        &-technologies {
            width: 55%;
        }
    }
    .project {
        &-content {
            & > h1 {
                font-size: 24px;
                line-height: 28px;
            }
            & > h2 {
                font-size: 24px;
                line-height: 28px;
                margin-top: 20px;
            }
            & > h3 {
                margin-top: 40px;
                font-size: 16px;
                line-height: 24px;
            }
            & > h4 {
                font-size: 16px;
                line-height: 24px;
                margin-top: 120px;
            }
            & > p {
                font-size: 14px;
                line-height: 20px;
                margin-top: 20px;
            }
            & img {
                margin-top: 40px;
            }

            & > ol {
                margin-top: 20px;
                & li {
                    padding-top: 20px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            &-item-half {
                width: 70%;
            }

            &-video {
                &__left {
                    margin: 16px;
                    width: calc(100% - 2 * 16px);
                }
                &__right {
                    margin: 16px;
                    width: calc(100% - 2 * 16px);
                    &-title {
                        font-size: 18px;
                        line-height: 24px;
                    }
                    &__descr {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .header {
        width: calc(100% - 2 * 10px);
        margin-left: 10px;
        margin-right: 10px;
    }
}
