@media (max-width: 1280px) {
}

@media (max-width: 960px) {
    .h4 {
        font-size: 24px;
        line-height: 32px;
    }
    .h2 {
        font-size: 48px;
        line-height: 56px;
    }
    .hero {
        min-height: 816px;
        &__title {
            font-size: 56px;
            line-height: 56px;
            max-width: 880px;
        }
        &__descr {
            max-width: 880px;
        }
    }
    .what-we-do {
        &__item1 {
            background-position: right 0px bottom 20px;
        }
        &__item2 {
            background-size: 434px;
            background-position: right -10px bottom -20px;
            &-title {
                max-width: 242px;
            }
        }
        &__item3 {
            background-size: 352px;
            background-position: right 49px bottom 0px;
        }
    }
    .why-we {
        &__items {
            grid-template-areas:
                "item1"
                "item2"
                "item3";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-gap: 24px;
        }
        &__item1 {
            background-position: right bottom 35px;
            background-size: 394px;
            &-title {
                max-width: 60%;
            }
        }
        &__item2 {
            background-position: right bottom 35px;
            background-size: 394px;
            &-title {
                max-width: 60%;
            }
        }
        &__item3 {
            background-position: right bottom 35px;
            background-size: 394px;
            &-title {
                max-width: 60%;
                margin-top: 56px;
            }
        }
    }
    .how-we-work {
        &__item {
            &-col {
                padding-right: 5px;
            }
        }
    }
    .about-team {
        &__items {
            flex-direction: column;
        }
        &__item1 {
            width: 100%;
            min-height: 512px;
        }
        &__item2 {
            width: 100%;
            &-img {
                margin-top: 44px;
            }
        }
    }
    .trust-us {
        &__items {
            flex-direction: column;
        }
    }
    .dropdown {
        &__options {
            width: 450px;
        }
    }
    .projects {
        &__title {
            font-size: 56px;
            line-height: 56px;
        }
        &__item {
            flex-direction: column;
            flex-direction: column-reverse;
            padding: 40px;
            gap: 40px;
            &-title {
                margin-top: 0;
            }
            &-descr {
                margin-top: 16px;
            }
            &-img {
                &--center {
                    height: 560px;
                    width: 100%;
                    & img {
                        max-width: 414px;
                    }
                }
                &--left {
                    height: 560px;
                    width: 100%;
                    & img {
                        right: 260px;
                    }
                }
                &--right {
                    height: 560px;
                    width: 100%;
                    & img {
                        left: 260px;
                    }
                }
            }
            &-content {
                width: 100%;
            }
        }
    }
    .footer {
        &__title {
            font-size: 56px;
            line-height: 56px;
            margin: 150px 40px 0 40px;
        }
        &__descr {
            margin-left: 160.5px;
            margin-right: 160.5px;
        }
    }
}

@media (max-width: 800px) {
    .h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .section-title {
        margin-top: 30px;
    }
    .what-we-do {
        &__items {
            margin-top: 60px;
            grid-template-areas:
                "item1"
                "item2"
                "item3";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap: 16px;
        }
        &__item {
            height: 300px;
        }
        &__item1 {
            background-size: 255px;
            background-position: right 0px bottom 0px;
            &-title {
                max-width: 233px;
                margin-left: 40px;
                margin-top: 40px;
            }
        }
        &__item2 {
            background-size: 272px;
            background-position: right 0px bottom 0px;
            &-title {
                max-width: 265px;
                margin-left: 40px;
                margin-top: 40px;
            }
        }
        &__item3 {
            background-size: 244px;
            background-position: right 0px bottom 0px;
            &-title {
                max-width: 353px;
                margin-left: 40px;
                margin-top: 40px;
            }
        }
    }
    .why-we {
        &__items {
            margin-top: 60px;
        }
        &__item1 {
            height: 300px;
            background-size: 206px;
            &-title {
                max-width: 55%;
                margin-top: 40px;
                margin-left: 40px;
            }
        }
        &__item2 {
            height: 300px;
            background-size: 206px;
            &-title {
                max-width: 55%;
                margin-top: 40px;
                margin-left: 40px;
            }
        }
        &__item3 {
            height: 300px;
            background-size: 206px;
            &-title {
                max-width: 55%;
                margin-top: 40px;
                margin-left: 40px;
            }
        }
    }
    .how-we-work {
        &__item {
            flex-direction: column-reverse;
            &-col {
                width: 100%;
                height: 60%;
                padding: 20px 40px 40px 40px;
            }
            &-center {
                height: 40%;
                width: 100%;
            }
            &-title {
                font-size: 24px;
                line-height: 32px;
            }
            &-desc {
                font-size: 16px;
                line-height: 24px;
                margin-top: 16px;
            }
            &-link {
                margin-top: 34px;
                font-size: 18px;
                line-height: 24px;
            }
            &-img {
                max-width: 174px;
            }
        }
    }
    .our-awards {
        &__items {
            margin-top: 60px;
        }
        & img {
            max-width: 180px;
        }
        &__item {
            padding: 24px;
            &-title {
                font-size: 24px;
                line-height: 32px;
            }
            &-desc {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    .dropdown {
        position: relative;
        width: 250px;
        &__input {
            font-size: 16px;
            line-height: 24px;
        }
        &__options {
            width: 100%;
            position: fixed;
            overflow-y: auto;
            height: calc(100% - 400px);
            max-height: none;
            top: 400px;
            &-item {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    .projects {
        &-filters {
            justify-content: flex-end;
            &-title {
                display: none;
            }
            &-components {
                gap: 8px;
            }
        }
    }
}

@media (max-width: 640px) {
    .h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .section-title {
        margin-top: 30px;
    }
    .container {
        padding: 100px 20px;
    }
    .link {
        font-size: 18px;
    }
    .link:after {
        background-size: 18px 10px;
        height: 10px;
        width: 18px;
    }
    .hero {
        min-height: 738px;
        &__title {
            font-size: 40px;
            line-height: 40px;
            max-width: 552px;
        }
        &__descr {
            font-size: 16px;
            line-height: 24px;
            max-width: 552px;
            margin-top: 30px;
        }
        &__btn {
            margin-top: 60px;
        }
    }
    .our-approach {
        &__diagram {
            margin-top: 60px;
        }
    }
    .about-team {
        &__items {
            margin-top: 60px;
        }
        &__item1 {
            min-height: 416px;
            &-title {
                padding-top: 40px;
                padding-left: 40px;
                padding-right: 40px;
                // font-size: 24px;
                // line-height: 32px;
            }
        }
        &__item2 {
            &-title {
                padding-top: 40px;
                padding-left: 40px;
                padding-right: 40px;
                // font-size: 24px;
                // line-height: 32px;
            }
            &-img {
                max-width: 240px;
            }
        }
    }
    .trust-us {
        &__items {
            margin-top: 60px;
            padding: 40px;
            grid-template-areas:
                "item1 item2"
                "item4 item3"
                "item5 item6";
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }
    }

    .projects {
        &__title {
            font-size: 40px;
            line-height: 40px;
        }
        // &-filters {
        //     justify-content: flex-end;
        //     &-title {
        //         display: none;
        //     }
        // }
        &__item {
            &-descr {
                margin-top: 4px;
                font-size: 16px;
                line-height: 24px;
            }
            &-link {
                margin-top: 42px;
            }
            &-img {
                &--center {
                    height: 320px;
                    & img {
                        top: 40px;
                        max-width: 262px;
                    }
                }
                &--left {
                    height: 320px;
                    & img {
                        top: 40px;
                        right: 151px;
                    }
                }
                &--right {
                    height: 320px;
                    & img {
                        top: 40px;
                        left: 151px;
                    }
                }
            }
        }
    }

    .footer {
        &__title {
            font-size: 40px;
            line-height: 40px;
            margin-left: 20px;
            margin-right: 20px;
        }
        &__descr {
            font-size: 16px;
            line-height: 24px;
            margin-top: 32px;
            margin-left: 75px;
            margin-right: 75px;
        }
        &__btn {
            font-size: 16px;
            margin-top: 60px;
            padding: 18px 24px;
        }
        &__bottom {
            flex-direction: column;
            align-items: center;
            margin: 100px 20px 40px 20px;
            &-right {
                flex-direction: column;
                align-items: center;
            }
        }
        &__personal {
            margin-top: 8px;
            margin-right: 0;
        }
        &__privacy {
            margin-top: 8px;
        }
    }
}

@media (max-width: 520px) {
    .why-we {
        &__items {
            margin-top: 40px;
        }
        &__item1 {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 260px;
            background-size: 140px;
            background-position: center top 24px;
            &-title {
                max-width: 100%;
                margin: 24px;
            }
        }
        &__item2 {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 260px;
            background-size: 140px;
            background-position: center top 24px;
            &-title {
                max-width: 100%;
                margin: 24px;
            }
        }
        &__item3 {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 308px;
            background-size: 140px;
            background-position: center top 24px;
            &-title {
                max-width: 100%;
                margin: 24px;
            }
        }
    }
    .our-awards {
        &__items {
            margin-top: 40px;
            grid-template-areas:
                "item1"
                "item2"
                "item3"
                "item4";
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr;
        }
        &__item {
            & img {
                max-width: 150px;
            }
            &-title {
                font-size: 18px;
                line-height: 24px;
                margin-top: 40px;
            }
            &-desc {
                font-size: 14px;
                line-height: 20px;
                margin-top: 16px;
            }
        }
    }
    .what-we-do {
        &__items {
            margin-top: 40px;
        }
        &__item {
            height: 200px;
        }
        &__item1 {
            background-size: 161px;
            &-title {
                max-width: 200px;
                margin-top: 24px;
                margin-left: 24px;
            }
        }
        &__item2 {
            background-size: 177px;
            &-title {
                max-width: 117px;
                margin-top: 24px;
                margin-left: 24px;
            }
        }
        &__item3 {
            background-size: 149px;
            &-title {
                max-width: 160px;
                margin-top: 24px;
                margin-left: 24px;
            }
        }
    }
    .dropdown {
        width: 170px;
    }
}

@media (max-width: 390px) {
    .h4 {
        font-size: 16px;
        line-height: 24px;
    }
    .h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .h2 {
        font-size: 24px;
        line-height: 28px;
    }
    .section-title {
        margin-top: 20px;
    }
    .container {
        padding: 80px 16px;
    }
    .link {
        font-size: 16px;
    }
    .hero {
        min-height: 612px;
        &__title {
            font-size: 24px;
            line-height: 28px;
            max-width: 358px;
        }
        &__img {
            & img {
                height: 100%;
            }
        }
        &__descr {
            font-size: 14px;
            line-height: 20px;
            max-width: 358px;
            margin-top: 20px;
        }
        &__btn {
            margin-top: 40px;
        }
    }

    .how-we-work {
        &__item {
            &-title {
                font-size: 18px;
                line-height: 24px;
            }
            &-desc {
                font-size: 14px;
                line-height: 20px;
                margin-top: 4px;
            }
            &-col {
                padding: 24px 24px 24px 24px;
            }
            &-link {
                font-size: 16px;
                line-height: 22px;
                margin-top: 27px;
            }
            &-img {
                max-width: 150px;
            }
        }
    }
    .our-approach {
        &__diagram {
            margin-top: 40px;
        }
    }
    .about-team {
        &__items {
            gap: 16px;
            margin-top: 40px;
        }
        &__item1 {
            min-height: 346px;
            &-title {
                // font-size: 18px;
                // line-height: 24px;
                padding-top: 24px;
                padding-left: 24px;
                padding-right: 24px;
            }
        }
        &__item2 {
            &-title {
                // font-size: 18px;
                // line-height: 24px;
                padding-top: 24px;
                padding-left: 24px;
                padding-right: 24px;
            }
            &-img {
                max-width: 195px;
            }
        }
    }
    .trust-us {
        &__items {
            padding: 24px;
        }
    }
    .projects {
        &__title {
            font-size: 24px;
            line-height: 28px;
        }
        &__item {
            padding: 24px;
            gap: 24px;
            &-descr {
                margin-top: 4px;
                font-size: 14px;
                line-height: 20px;
            }
            &-link {
                margin-top: 42px;
            }
            &-img {
                &--center {
                    height: 276px;
                    & img {
                        top: 24px;
                        max-width: 206px;
                    }
                }
                &--left {
                    height: 276px;
                    & img {
                        top: 24px;
                        right: 24px;
                    }
                }
                &--right {
                    height: 276px;
                    & img {
                        top: 24px;
                        left: 24px;
                    }
                }
            }
        }
    }

    .footer {
        &__title {
            font-size: 24px;
            line-height: 28px;
            margin-left: 16px;
            margin-right: 16px;
        }
        &__descr {
            font-size: 14px;
            line-height: 20px;
            margin-left: 62px;
            margin-right: 62px;
        }
        &__bottom {
            margin: 100px 16px 40px 16px;
        }
    }
    .dropdown {
        &__options {
            &-item {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

@media (max-width: 320px) {
    .container {
        padding: 80px 10px;
    }
    .hero {
        min-height: 640px;
        &__title {
            max-width: 288px;
        }
        &__descr {
            max-width: 288px;
        }
    }
    .what-we-do {
        &__item1 {
            background-size: 111px;
            &-title {
                max-width: 162px;
            }
        }
        &__item2 {
            background-size: 147px;
            &-title {
                max-width: 188px;
            }
        }
        &__item3 {
            background-size: 118px;
            &-title {
                max-width: 159px;
            }
        }
    }
    .why-we {
        &__item1 {
            height: 284px;
        }
        &__item2 {
            height: 284px;
        }
    }
    .trust-us {
        &__items {
            padding: 24px;
        }
    }
    .dropdown {
        width: 130px;
    }
}
