.projects {
    width: 100%;
    &__title {
        color: var(--color-dark);
        margin-top: 100px;

        @media (max-width: 640px) {
            margin-top: 80px;
        }

        @media (max-width: 390px) {
            margin-top: 40px;
        }
    }
    &__descr {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: var(--color-dark);
        opacity: 0.56;
        margin-top: 24px;
        max-width: 671px;

        @media (max-width: 640px) {
            font-size: 16px;
            line-height: 24px;
            max-width: 445px;
        }

        @media (max-width: 390px) {
            font-size: 14px;
            line-height: 20px;
            max-width: 285px;
        }
    }
    &-filters {
        margin-top: 40px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-components {
            display: flex;
            width: 600px;
            flex-direction: row;

            & > :first-child {
                margin-right: 16px;

                @media (max-width: 390px) {
                    margin-right: 8px;
                }
            }
        }
    }
    &-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: calc(100px - 24px);

        @media (max-width: 640px) {
            margin-top: calc(80px - 16px);
        }

        @media (max-width: 390px) {
            margin-top: calc(40px - 16px);
        }
    }
    &__item {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        background-color: var(--color-white);
        min-height: 536px;
        border-radius: 20px;
        margin-top: 24px;

        @media (max-width: 960px) {
            flex-direction: column-reverse;
        }

        @media (max-width: 640px) {
            margin-top: 16px;
        }

        & > * {
            margin: 56px;

            @media (max-width: 960px) {
                margin: 40px;
            }

            @media (max-width: 390px) {
                margin: 24px;
            }
        }
        &--reverse {
            flex-direction: row-reverse;

            @media (max-width: 960px) {
                flex-direction: column-reverse;
            }
        }
        &-content {
            display: flex;
            flex-direction: column;
            width: 50%;

            @media (max-width: 960px) {
                width: calc(100% - 2 * 40px);
            }

            @media (max-width: 390px) {
                width: calc(100% - 2 * 24px);
            }
        }
        &-title {
            margin-top: 24px;

            @media (max-width: 960px) {
                margin-top: 0;
            }
        }
        &-descr {
            margin-top: 24px;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: var(--color-dark);
            opacity: 0.56;

            @media (max-width: 640px) {
                margin-top: 4px;
                font-size: 16px;
                line-height: 24px;
            }

            @media (max-width: 390px) {
            }
        }
        &-link {
            margin-top: 56px;

            @media (max-width: 640px) {
                margin-top: 42px;
            }

            @media (max-width: 390px) {
            }
        }
        &-img {
            width: 50%;
            border-radius: 10px;
            overflow: hidden;

            @media (max-width: 960px) {
                height: 560px;
                width: calc(100% - 2 * 40px);
            }

            @media (max-width: 390px) {
                width: calc(100% - 2 * 24px);
            }

            &--center {
                display: flex;
                justify-content: center;
                position: relative;

                @media (max-width: 640px) {
                    height: 320px;
                }

                & img {
                    position: absolute;
                    top: 56px;
                    max-width: 300px;

                    @media (max-width: 960px) {
                        max-width: 414px;
                    }

                    @media (max-width: 640px) {
                        top: 40px;
                        max-width: 262px;
                    }

                    @media (max-width: 390px) {
                        top: 24px;
                        max-width: 206px;
                    }
                }
            }
            &--left {
                position: relative;

                @media (max-width: 640px) {
                    height: 320px;
                }

                & img {
                    position: absolute;
                    top: 56px;
                    right: 56px;
                    height: 100%;

                    @media (max-width: 960px) {
                        right: 260px;
                    }

                    @media (max-width: 640px) {
                        top: 40px;
                        right: 151px;
                    }

                    @media (max-width: 390px) {
                        top: 24px;
                        right: 24px;
                    }
                }
            }
            &--right {
                position: relative;

                @media (max-width: 640px) {
                    height: 320px;
                }

                & img {
                    position: absolute;
                    top: 56px;
                    left: 56px;
                    height: 100%;

                    @media (max-width: 960px) {
                        left: 260px;
                    }

                    @media (max-width: 640px) {
                        top: 40px;
                        left: 151px;
                    }

                    @media (max-width: 390px) {
                        top: 24px;
                        left: 24px;
                    }
                }
            }
        }
    }
}

.dropdown {
    display: inline-block;
    position: relative;
    height: 72px;

    @media (max-width: 390px) {
        height: 56px;
    }

    &::before {
        content: "";
        position: absolute;
        right: 20px;
        top: 40%;
        z-index: 2;
        width: 8px;
        height: 8px;
        border: 2px solid #333;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(-45deg);
        transition: 0.5s;
        pointer-events: none;
    }

    @media (max-width: 800px) {
        position: relative;
        height: 64px;
    }

    &.active::before {
        top: 40%;
        transform: rotate(-225deg);
    }
    &.active &__options {
        opacity: 1;
        visibility: visible;
    }

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        color: var(--color-dark56);
        border: none;
        outline: none;
        padding: 18px 16px;
        border-radius: 10px;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        cursor: pointer;

        @media (max-width: 800px) {
            font-size: 16px;
            line-height: 24px;
        }

        @media (max-width: 390px) {
            font-size: 14px;
            line-height: 20px;
            padding: 22px 16px;
        }
    }
    &__options {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 600ms, visibility 600ms;
        transition: opacity 600ms, visibility 600ms;
        position: absolute;
        top: 80px;
        padding-top: 9px;
        overflow: hidden;
        background: #fff;
        box-shadow: -2px -2px 4px rgba(177, 177, 177, 0.2), 2px 2px 4px rgba(177, 177, 177, 0.2);
        border-radius: 10px;
        z-index: 50;

        &-container {
            height: 100%;
            overflow: auto;
        }
        &-spheres {
            height: 500px;
            width: calc(100vw - 2 * 40px);
            max-width: 600px;
            min-width: 15vw;

            @media (max-width: 640px) {
                height: 400px;
                width: calc(100vw - 2 * 20px);
            }

            @media (max-width: 390px) {
                width: calc(100vw - 2 * 16px);
            }

            @media (max-width: 320px) {
                width: calc(100vw - 2 * 10px);
            }
        }
        &-technologies {
            width: 100%;

            @media (max-width: 800px) {
                width: 100%;
            }
        }
        &-item {
            display: block;
            position: relative;
            padding: 12px 20px;
            cursor: pointer;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: var(--color-dark56);

            @media (max-width: 800px) {
                font-size: 16px;
                line-height: 24px;
            }

            @media (max-width: 390px) {
                font-size: 14px;
                line-height: 20px;
            }

            &.active {
                color: #367cf4;
            }
        }
    }
    &-spheres {
        width: 50%;

        @media (max-width: 390px) {
            width: 45%;
        }
    }

    &-technologies {
        width: 50%;

        @media (max-width: 390px) {
            width: 55%;
        }
    }
}
