@import "normalize";
@import "variables";
@import "common";
@import "header";
@import "footer";
@import "footer-small";
@import "mobile-menu";
@import "home/home";
@import "projects";
@import "project";
@import "contacts";
@import "document";
@import "feedback";
@import "feedback-form";
@import "media";

html {
    box-sizing: border-box;
    //scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    font-family: "Roboto Flex", sans-serif;
}

button {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

p {
    margin: 0;
}

main {
    background: var(--color-bacground);
    //height: 100%;
    margin: 0;
    flex: 1;
}

/*плавная загрузка страниц*/
@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
 
body {
  -webkit-animation: fade-in .5s ease-in-out; /* Safari 4+ */
  -moz-animation: fade-in .5s ease-in-out; /* Fx 5+ */
  -o-animation: fade-in .5s ease-in-out; /* Opera 12+ */
  animation: fade-in .5s ease-in-out; /* IE 10+, Fx 29+ */
}


