@import "section-hero";
@import "section-what-we-do";
@import "section-why-we";
@import "section-how-we-work";
@import "section-our-approach";
@import "section-about-team";
@import "section-trust-us";
@import "section-our-awards";

.section-title {
    margin-top: 40px;
    width: 100%;

    @media (max-width: 640px) {
        margin-top: 30px;
    }

    @media (max-width: 390px) {
        margin-top: 20px;
    }
}

