.how-we-work {
    @media (max-width: 640px) {
        margin-top: calc(60px - 24px);
    }
    &__items {
        margin-top: calc(80px - 24px);
        width: 100%;
        display: flex;
        flex-direction: column;

        @media (max-width: 390px) {
            margin-top: calc(40px - 16px);
        }
    }
    &__item {
        background-color: var(--color-white);
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        margin-top: 24px;

        @media (max-width: 960px) {
            flex-direction: column-reverse;
        }

        @media (max-width: 390px) {
            margin-top: 16px;
        }
        
        &--reverse {
            flex-direction: row-reverse;

            @media (max-width: 960px) {
                flex-direction: column-reverse;
            }
        }
        &-col {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 88px 56px;

            @media (max-width: 960px) {
                width: 100%;
                height: 60%;
                padding: 56px;
            }

            @media (max-width: 640px) {
                padding: 40px;
            }

            @media (max-width: 390px) {
                padding: 24px 24px 24px 24px;
            }
        }
        &-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;

            @media (max-width: 960px) {
                height: 40%;
                width: 100%;
            }

        }
        &-title {
            color: var(--color-dark);
        }
        &-desc {
            font-size: 24px;
            line-height: 32px;
            color: var(--color-dark);
            opacity: 0.56;
            margin-top: 16px;

            @media (max-width: 960px) {
                margin-top: 24px;
            }

            @media (max-width: 390px) {
                font-size: 14px;
                line-height: 20px;
                margin-top: 4px;
            }
        }
        &-link {
            display: inline-block;
            margin-top: 40px;

            @media (max-width: 390px) {
                font-size: 16px;
                line-height: 22px;
                margin-top: 27px;
            }
        }
        &-img {
            width: 100%;
            //max-width: 328px;

            @media (max-width: 960px) {
                margin-top: 45px;
                // max-width: 320px;
            }

            @media (max-width: 640px) {
                // max-width: 174px;
            }

            @media (max-width: 390px) {
                // max-width: 150px;
            }
        }
    }
}