.what-we-do {
    &__items {
        margin-top: 80px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 450px 450px;
        grid-gap: 24px;

        @media (max-width: 960px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 550px);
        }

        @media (max-width: 640px) {
            margin-top: 60px;
            grid-template-rows: repeat(4, 380px);
        }

        @media (max-width: 390px) {
            margin-top: 40px;
            grid-template-rows: repeat(4, 280px);
        }
        @media (max-width: 320px) {
            grid-template-rows: repeat(4, 270px);
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        background-color: #ffffff;

        &-title {
            color: var(--color-dark);
            padding: 48px 48px 24px 48px;

            @media (max-width: 960px) {
                padding: 56px 56px 24px 56px;
            }

            @media (max-width: 640px) {
                padding: 40px 40px 0 40px;
            }

            @media (max-width: 390px) {
                padding: 24px 24px 0 24px;
            }
        }

        & img {
            max-width: 100%;
            object-fit: cover;
            height: 100%;
            max-height: 298px;

            @media (max-width: 960px) {
                max-height: 430px;
            }

            @media (max-width: 640px) {
                max-height: 292px;
            }

            @media (max-width: 390px) {
                max-height: 216px;
            }

            @media (max-width: 320px) {
                max-height: 206px;
            }
        }
    }
}
