.why-we {
    @media (max-width: 520px) {
        & .h3 {
            font-size: 18px;
            line-height: 24px;
        }
    }
    &__items {
        margin-top: 80px;
        width: 100%;
        display: grid;
        grid-template-areas:
            "item1 item2"
            "item3 item3";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 450px);
        grid-gap: 24px;

        @media (max-width: 960px) {
            grid-template-areas:
                "item1"
                "item2"
                "item3";
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 450px);
        }

        @media (max-width: 640px) {
            margin-top: 60px;
        }

        @media (max-width: 390px) {
            margin-top: 40px;
            grid-template-rows: repeat(3, 428px);
        }
    }
    &__item {
        width: 100%;
        border-radius: 20px;
        background-color: var(--color-white);
        overflow: hidden;

        &-title {
            color: var(--color-dark);
            margin: 56px 56px 0 56px;

            @media (max-width: 640px) {
                margin: 40px 40px 0 40px;
            }

            @media (max-width: 390px) {
                margin: 24px 24px 0 24px;
            }

            & br {
                @media (max-width: 960px) {
                    content: "";
                }
            }
        }

        &.item1 {
            grid-area: item1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & img {
                width: 100%;

                @media (max-width: 390px) {
                    object-fit: cover;
                    height: 60%;
                }
            }
        }

        &.item2 {
            grid-area: item2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & img {
                width: 100%;

                @media (max-width: 390px) {
                    object-fit: cover;
                    height: 60%;
                }
            }
        }

        &.item3 {
            grid-area: item3;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media (max-width: 960px) {
                flex-direction: column;
            }


            & h3 {
                width: 50%;

                @media (max-width: 960px) {
                    width: calc(100% - 2 * 56px);
                }

                @media (max-width: 640px) {
                    width: calc(100% - 2 * 40px);
                }

                @media (max-width: 390px) {
                    width: calc(100% - 2 * 24px);
                }
            }
            & img {
                width: 50%;
                object-fit: contain;

                @media (max-width: 960px) {
                    width: 100%;
                }

                @media (max-width: 390px) {
                    object-fit: cover;
                    height: 60%;
                }
            }
        }
    }
}
