.what-we-do {
    &__items {
        margin-top: 80px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 450px 450px;
        grid-gap: 24px;

        @media (max-width: 800px) {
            margin-top: 60px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 450px);
        }

        @media (max-width: 390px) {
            grid-template-rows: repeat(4, 428px);
            margin-top: 40px;
        }
    }
    &__item {
        border-radius: 20px;
        background-color: #ffffff;
        background-repeat: no-repeat, repeat;
        background-position: center bottom;
        background-size: 100% auto;

        @media (max-width: 800px) {
            background-size: calc(min(600px, 100%));
        }

        @media (max-width: 520px) {
            background-size: 130%;
            background-position: center bottom 20px;
        }

        @media (max-width: 390px) {
            background-size: 130%;
            background-position: center bottom 40px;
        }

        @media (max-width: 320px) {
            background-position: center bottom 50px;
        }

        &.item1 {
            background-image: url(img/home/business-process.png);
        }

        &.item2 {
            background-image: url(img/home/project-management.png);
        }

        &.item3 {
            background-image: url(img/home/document-management.png);
        }

        &.item4 {
            background-image: url(img/home/all-spheres.png);
        }

        &-title {
            color: var(--color-dark);
            margin: 56px;

            @media (max-width: 800px) {
                margin: 40px;
            }

            @media (max-width: 390px) {
                margin: 24px;
            }
        }
    }
}
