<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include home/header.html -%}
    <div class="project">
        <div class="container">
            <div class="project-content">
                {{ content }}
            </div>
        </div>
    </div>
  </body>
    
    {%- include footer.html -%}
    {%- include feedback-form.html -%}
    <script src="{{ site.baseurl | prepend: site.url }}/assets/js/script.js"></script>
</html>