{% assign text = site.data.texts_home.ourAwards %}
<section class="our-awards">
    <div class="container flex-container">
        <h4 class="h4">{{ text.sectionName[site.lang] }}</h4>
        <h2 class="h2 section-title">{{ text.sectionTitle[site.lang] }}</h2>
        <div class="our-awards__items">
            <div class="our-awards__item our-awards__item-1">
                <img src="{{ site.baseurl }}/assets/img/award.png" alt="" />
                <h3 class="h3 our-awards__item-title">{{ text.item1.title[site.lang] }}</h3>
                <p class="our-awards__item-desc">{{ text.item1.description[site.lang] }}</p>
            </div>
            <div class="our-awards__item our-awards__item-2">
                <img src="{{ site.baseurl }}/assets/img/award.png" alt="" />
                <h3 class="h3 our-awards__item-title">{{ text.item2.title[site.lang] }}</h3>
                <p class="our-awards__item-desc">{{ text.item2.description[site.lang] }}</p>
            </div>
            <div class="our-awards__item our-awards__item-3">
                <img src="{{ site.baseurl }}/assets/img/award.png" alt="" />
                <h3 class="h3 our-awards__item-title">{{ text.item3.title[site.lang] }}</h3>
                <p class="our-awards__item-desc">{{ text.item3.description[site.lang] }}</p>
            </div>
            <div class="our-awards__item our-awards__item-4">
                <img src="{{ site.baseurl }}/assets/img/award.png" alt="" />
                <h3 class="h3 our-awards__item-title">{{ text.item4.title[site.lang] }}</h3>
                <p class="our-awards__item-desc">{{ text.item4.description[site.lang] }}</p>
            </div>
        </div>
    </div>
</section>
