<section class="hero">
    <div class="container flex-container">
        <div class="hero__img">
            <img src="{{ site.baseurl }}/assets/img/rocket-rotate.png" alt="hero_img" />
        </div>
        <h1 class="hero__title">15 лет делаем приложения для крупного бизнеса</h1>
        <p class="hero__descr">
            Успех наших проектов стоит на 3-х китах: качественная аналитика, продуктовый дизайн, внедрение в работу
        </p>
        <button id="open-btn-hero" class="btn btn--dark hero__btn">Начать проект</button>
    </div>
</section>
