{% assign text = site.data.texts_home.howWeWork %}
<section class="how-we-work">
    <div class="container flex-container">
        <h4 class="h4">{{ text.sectionName[site.lang] }}</h4>
        <h2 class="h2 section-title">{{ text.sectionTitle[site.lang] }}</h2>
        <div class="how-we-work__items">
            <div class="how-we-work__item">
                <div class="how-we-work__item-col">
                    <h3 class="h3 how-we-work__item-title">{{ text.item1.title[site.lang] }}</h3>
                    <p class="how-we-work__item-desc">{{ text.item1.description[site.lang] }}</p>
                    <a href="#" class="link how-we-work__item-link modal-btn">{{ text.item1.btnText[site.lang] }}</a>
                </div>
                <img
                    class="how-we-work__item-img"
                    src="{{ site.baseurl }}/assets/img/home/from-scratch.png"
                    alt="from-scratch"
                />
            </div>
            <div class="how-we-work__item how-we-work__item--reverse">
                <div class="how-we-work__item-col">
                    <h3 class="h3 how-we-work__item-title">{{ text.item2.title[site.lang] }}</h3>
                    <p class="how-we-work__item-desc">{{ text.item2.description[site.lang] }}</p>
                    <a href="#" class="link how-we-work__item-link modal-btn">{{ text.item2.btnText[site.lang] }}</a>
                </div>
                <img
                    class="how-we-work__item-img"
                    src="{{ site.baseurl }}/assets/img/home/project-work.png"
                    alt="project-work"
                />
            </div>
            <div class="how-we-work__item">
                <div class="how-we-work__item-col">
                    <h3 class="h3 how-we-work__item-title">{{ text.item3.title[site.lang] }}</h3>
                    <p class="how-we-work__item-desc">{{ text.item3.description[site.lang] }}</p>
                    <a href="#" class="link how-we-work__item-link modal-btn">{{ text.item3.btnText[site.lang] }}</a>
                </div>
                <img
                    class="how-we-work__item-img"
                    src="{{ site.baseurl }}/assets/img/home/agile-development.png"
                    alt="agile-development"
                />
            </div>
        </div>
    </div>
</section>
