<section class="trust-us">
    <div class="container flex-container">
        <h4 class="h4">Нам доверяют</h4>
        <h2 class="h2 section-title">Для них мы сделали классные проекты</h2>
        <div class="trust-us__items">
            <div class="trust-us__item trust-us__item-1"></div>
            <div class="trust-us__item trust-us__item-2"></div>
            <div class="trust-us__item trust-us__item-3"></div>
            <div class="trust-us__item trust-us__item-4"></div>
            <div class="trust-us__item trust-us__item-5"></div>
            <div class="trust-us__item trust-us__item-6"></div>
        </div>
    </div>
</section>
